.card {
    width: 8rem;
    height: 12rem;
    text-align: center;
    line-height: 12rem;
    margin: auto;
    border: solid 1px #282828;
    
}
.hidden {
    display: none;
}
.pass {
    text-align: right;
    margin-top: 2rem;
    margin-bottom: 2rem;  
    margin-right: 3rem; 
}
.my-cards .card {
    cursor: pointer;
}
.card.played {
    margin-bottom: 8rem;
    margin-top: 2rem;
}
.level {
    text-align: center;
}
.score {
    text-align: right;
}

.dropzone {
    background: moccasin;
    position: relative;
  }
.dropzone.dragover {
    background: green;
}

.active {
    background-color: lightcoral;
}
.dropzone .card {
    position: absolute;
    display: block;
    transform: rotate(random);
}